*{
    margin: 0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bulb.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} 
nav img{
    width:150px;
}
.nav-links{
    font-family: 'DynaPuff', cursive;
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #C55FFC;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px; 
    background:#B4FEE7;
    display: block;
    margin: auto;
    transition:0.3s;
}

.nav-links ul li:hover::after{
    width: 100%
}

.textbox{
    font-family: 'DynaPuff', cursive;
    width: 90%;
    top: 50%;
    left: 50%;
    color:#fff;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 24px;
}

.textbox h1{
    font-size: 54px;
}

.textbox p{
    font-family: 'DynaPuff', cursive;
    margin:10px 0 40px;
    font-size: 20px;
}

.resume_btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    color:white;
    font-size: 25px;
    cursor:pointer;
    border:1px solid white ;
    background: transparent;
    position: relative;
    padding: 8px 12px;

}
.resume_btn:hover{
    border:1px solid #04ECF0;
    background:#04ECF0;
    transition: 0.5s;
}
.no{
    visibility: hidden;
}

@media(max-width:700px){
    .textbox h1{
        font-size: 24px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #F8E5E6;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2;
        transition:0.5s;
    }
    .no{
        visibility: visible;
        padding:10px;
        display: block;
        color: black;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul{
        padding:20px;
    }
    .info_me{
        flex-direction: column;
    }
    .right{
        float: left;
    }

}   
/*---About Me--*/
.aboutme{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.aboutme h1{
    color: #FBC740;
    font-family:'DynaPuff', cursive; 
    font-size:40px;
    font-weight: 400;
}

.aboutme p{
    font-family: 'DynaPuff', cursive;
    color:white;
    font-size:16px;
    line-height: 20px;
    padding: 10px;
}
.info_me{
    margin-top: 5%;
    display:flex;
    justify-content:space-between;
    padding-bottom: 40px;
}
.info_me h3{
    color:#f8be2a;
    font-family:'DynaPuff', cursive;
    font-size: 25px;
}
.me{
    flex-basis: 31%;
    background:#b68ee2;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.me:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
     cursor: pointer;
}

/*-----photos----*/
.photo{
    width:70%;
    color: #97CCEB;
    font-family:'DynaPuff', cursive; 
    text-align:center;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.photo h1{
    font-size: 44px;
}
.me{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:10px;
    position: relative;
    overflow:hidden;
}
.me img{
    width:100%;
    display:block;
}

.layer{
    background:transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(209, 3, 209, 0.7);
}

.layer h4{
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    transition: 0.5s;
    width: 100%;
    color: #fff;
}

.layer:hover h4{
    bottom: 49%;
    opacity:1;
}

/*-------FOOTER----------*/
.footer{
    width:100%;
    font-family: 'DynaPuff', cursive;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/yellow.jpg);
    text-align: center;
    padding: 30px 0;
}

.footer h5{
    font-size: 33px;
    margin-bottom: 25px;
    margin-top:20px ;
    font-weight: 600px;
}

.icons{
    margin:0 13px;
    padding:18px 0;
    cursor: pointer;
    fill: #a845a2;
}


/*--------------contact me------------*/
.phone{
    font-family: 'DynaPuff', cursive;
    width: 60%;
    margin:0;
    padding:60px 0;
}
.left{
    flex-basis: 65%;
}

.right{
    font-family: 'DynaPuff', cursive;
    border: 2px solid white;
    margin: 10px 0;
    padding: 10px 20px;
}
.right h2{
    text-align: left;
    color: #A47551;
}

.dform input, .dform textarea{
    font-family: 'DynaPuff', cursive;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing:border-box;
    border: none;
    outline: none;
    background:#E4D4C8;
}

.left img{
    float: left;
    width: 50%;
    padding: 10px 5px;
}
.right {
    float: right;
    width: 70%;
    padding: 40px;
    margin-right: -60%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.send{
    font-family: 'DynaPuff', cursive;
    display: inline-block;
    text-decoration: none;
    color:#523A28;
    font-size: 25px;
    cursor:pointer;
    border:1px solid #523A28 ;
    background: transparent;
    position: relative;
    padding: 8px 12px;

}
.send:hover{
    border:1px solid #523A28;
    background:#523A28;
    color: #fff;
    transition: 0.5s;
}
/*----ABOUT ME-----*/
#abouts{
    width: 100%;
    padding:70px 0;
}
.abouts_title{
    text-align: center;
    padding-bottom: 70px;
}
.abouts_title p{
    font-family: 'DynaPuff', cursive;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color:#93545d;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.abouts_title p::after{
    content:'';
    width: 50px;
    height: 35px;
    background: linear-gradient(#93545d,#fff);
    position: absolute;
    top: -20px;
    left:0;
    z-index:-1;
    transform:rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.abouts_title h1{
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
    color:#EF7C8E;
}

.reasons-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.reasons{
    flex-basis: 50%;
    font-family: 'DynaPuff', cursive;
}
.reasons-img{ 
    flex-basis: 50%;
    margin:auto;
}
.reasons-img img{
    width:70%;
    border-radius: 10px;
}
.reasons h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #EF7C8E;
}
.reasons-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
   
}
.reasons-icon{
    width: 70px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-width: 80px;
    border-radius: 8px;
    fill: #EF7C8E;
    border: 2px solid #EF7C8E;
}
.reasons-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width:770px) {
    .abouts_title h1{
        font-size: 35px ;
    }
    .reasons{
        flex-basis: 100%;
    }
    .reasons-img{
        flex-basis: 100%;
    }
    .reasons-img img{
        width: 100%;
    }
}

/*-----HOBBIES-----*/
.hobb{
    font-family: 'DynaPuff', cursive;
    width: 94%;
    height:100vh;
    background:#f3f7fe;
    padding: 10px 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hobb h1{
    font-size: 70px;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 2px #46200E;
    cursor: pointer;
    transition: transform 0.5s;
}
.hobb h1:hover{
    -webkit-text-fill-color:#46200E;
    transform: translateY(-10px);
}
.picbox{
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
    width: 65%;
    background-image: url(images/light_beige.png);
    background-size: cover;
    background-position: center;
    transition: background-image 0.1s;
}
.hobb h1:nth-child(1):hover ~ .picbox{
    background-image: url(images/food.jpg);

}
.hobb h1:nth-child(2):hover ~ .picbox{
    background-image: url(images/mic.jpg);
}
.hobb h1:nth-child(3):hover ~ .picbox{
    background-image: url(images/cameraY.png);
}